<?xml version="1.0"?>
<config>
    <modules>
        <Upment_Tracking>
            <version>1.0.0</version>
        </Upment_Tracking>
    </modules>
    <global>
      <helpers>
          <tracking>
              <class>Upment_Tracking_Helper</class>
          </tracking>
      </helpers>
      <blocks>
          <tracking>
              <class>Upment_Tracking_Block</class>
          </tracking>
      </blocks>
      <models>
          <tracking>
              <class>Upment_Tracking_Model</class>
          </tracking>
      </models>
    </global>
    <frontend>
      <events>
          <checkout_onepage_controller_success_action>
              <observers>
                  <tracking_order_success>
                      <class>tracking/observer</class>
                      <method>setGtagOnOrderSuccessPageView</method>
                  </tracking_order_success>
              </observers>
          </checkout_onepage_controller_success_action>
      </events>
      <routers>
        <tracking>
          <use>standard</use>
            <args>
              <module>Upment_Tracking</module>
              <frontName>tracking</frontName>
            </args>
        </tracking>
      </routers>
        <layout>
            <updates>
                <tracking>
                    <file>tracking.xml</file>
                </tracking>
            </updates>
        </layout>
    </frontend>
</config>
