<?xml version="1.0"?>
<config>
    <tabs>
        <upment translate="label" module="tracking">
            <label>Upment</label>
            <sort_order>0</sort_order>
        </upment>
    </tabs>
    <sections>
        <tracking translate="label" module="tracking">
            <label>CR Tracking</label>
            <tab>upment</tab>
            <frontend_type>text</frontend_type>
            <sort_order>0</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>0</show_in_website>
            <show_in_store>0</show_in_store>
            <groups>
                <settings translate="label">
                    <label>Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <conversion_id translate="label">
                            <label>GTag Conversion ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment></comment>
                        </conversion_id>
                        <bing_id translate="label">
                            <label>Bing Tag ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment></comment>
                        </bing_id>
                        <allowed_domain translate="label">
                            <label>Allowed domain</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <comment></comment>
                        </allowed_domain>
                    </fields>
                </settings>
            </groups>
        </tracking>
    </sections>
</config>
